@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

body {
  background-color: #d8e5f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "Muli", sans-serif;
}
section {
  text-align: center;
  width: 75%;
}

/* intro section */
.intro {
  margin-top: 20vh;
}
.intro h1 {
  font-size: 3em;
}
.intro h2 {
  font-size: 2em;
}

/* both start and submit button */
button {
  margin-top: 20px;
  background-color: #4d1de0;
  color: white;
  width: 150px;
  padding: 12px;
  border-radius: 5px;
  border: none;
  font-family: inherit;
  font-size: 25px;
  cursor: pointer;
}

/* both container and submit button */
#container-hide,
#intro-hide,
#submit-hide,
#score-hide {
  display: none;
}

/* styling of the quiz container */
.container {
  border: 1px solid black;
  border-radius: 0.75rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px 40px;
}
.quiz-container {
  height: 250px;
  color: #fff;
  background-color: #31237e;
  text-align: left;
  max-width: 930px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: 0 0 3rem 0;
}
.question {
  height: 80px;
  margin-left: 20px;
  font-size: 1.7em;
  line-height: 40px;
  margin-bottom: 10px;
}
.answer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 65%;
  margin-left: 20px;
}
.answer div {
  background-color: #d8e5f2;
  border-radius: 5px;
  height: 60px;
  line-height: 50px;
  text-align: center;
  font-weight: bolder;
  width: 230px;
  color: #31237e;
  margin: 10px;
  font-size: 20x;
}

/* score page styling */
.scores-container {
  margin-top: 20vh;
}
.scores-container h1 {
  font-size: 3em;
}
.scores-container h2 {
  font-size: 2em;
}
